
.reviewComp {
  position: relative;
  left: 30rem;
  top: 10rem;
}


.amazonAbuse {
  position: relative;
  left: 6rem;
  top: -3rem;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: grey;

}

.starResize {
  position: relative;
  width: 9rem;
  top: 2rem;
  height: 1.5rem;
}


.globalStarResize {
 position: relative;
 width: 10rem;
 top: -1rem;
 height: 2rem;
}

.globalRating {
  position: relative;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #565959;
  top: -1.8rem;
  left: 0.2rem;
  font-size: 15px;
}

.userImg {
  position: relative;
  left: -9rem;
  border-radius: 50%;
}





.starComp {
  position: relative;
  left: -25rem;
  top: 10rem;
}



.customerRev {

  font-family: 'roboto', sans-serif;
  font-size: 30px;
  font-weight: 500;
}



.mentionBlock {
  font-family :'Roboto', sans-serif;
  font-size: 15px;
  display: inline-block;
  font-weight:300;
  height: 2rem;
  opacity: 0.9;
  padding: 0px 14px;
  line-height: 29px;
  color: #111111;
  border-bottom: solid 1px #969696;
  background-color: #D7E8EA;
  margin: 0px 10px 14px 0px;
  cursor: grab;
}


.amazonMore {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  font-weight: 500;
  color: #007185;
}


.amazonMentions {
  display: flex;
  flex-flow: row wrap;
  width: 49rem;
}



.amazonButton {

 width: 5rem;
 height: 2.5rem;

}



.amazonHelpful {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  color: grey;
  font-weight: 300;
}


